/Services/nbproject/private/
/ClassDiary.DataAccess/nbproject/private/
/ClassDiary.Services/nbproject/private/
/ClassDiary.Domain/nbproject/private/
/ClassDiary.UI/nbproject/private/
/ClassDiary.Common/nbproject/private/