/Services/nbproject/private/
/ClassDiary.DataAccess/nbproject/private/
/ClassDiary.Services/nbproject/private/
/ClassDiary.Domain/nbproject/private/
/ClassDiary.UI/nbproject/private/
/ClassDiary.Common/nbproject/private/
/ClassDiary.UI/build/
/ClassDiary.UI/dist/
/ClassDiary.Business/nbproject/private/
/ClassDiary.Business/build/
/ClassDiary.Domain/build/
/ClassDiary.DataAccess/build/
/ClassDiary.Common/build/
/ClassDiary.Domain/dist/
/ClassDiary.Common/dist/
/ClassDiary.DataAccess/dist/
/ClassDiary.Business/dist/